body {
  box-sizing: border-box;
  margin: 0px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
  
li {
  color: #333333;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  margin: 4px 2px;
  text-transform: capitalize;
}
  
a {
  background: #dddddd;
  border-radius: 18px;
  color: #333333;
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}
  
button {
  background: #d83a3a;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  line-height: 25px;
  margin-top: 8px;
  padding: 7.5px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
  
button:hover {
  background: #e06d6d;
}
  
#sidebar {
  width: 300px;
  border: 3px black solid;
}
  
.all-container {
  display: flex;
}
  
.item {
  width: 33,333%;
  padding: 15px;
}
  
.list-item {
  display: flex;
}
  
.h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}
  
.banner {
  position: relative;
}
  
.heading-h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 46px;
}
  
.text-box {
  position: absolute;
  top: 100px;
  left: 50px;
  color: white;
}
  
.text-box-title-h2 {
  font-size: 18px;
}
  
.text-box-title-h3 {
  font-size: 40px;
  margin-top: 23px;
}
  
.text-box-title-h3 h3 {
  margin: 0px;
}

.footer {
  display: flex;
  padding: 35px 30px 20px;
  background-color: #333333;
  color:#dddddd;
}

.footer-item-left, .footer-item-right {
  width: 50%;
}

.footer-item-left {
  margin-right: 40px;
}