*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* sidebarleft */
body{
    display: flex;
}
.red{
    color: red;
}
.sideBarLeft{
    width: 300px;
    height: 100vh;
    position: sticky;
    top: 0;
}
/* header */
.cartIndex{
    width: 100%;
}
.cartIndex header{
    height: 200px;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/image-banner-menu/banner/brooke-lark-M4E7X3z80PQ-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.cartIndex header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}
/* Cart */
.cartIndex .cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.cartIndex .cart section{
    width: 40vw;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cartIndex .cart .headerCart{
    padding-bottom: 10px;
}
.cartIndex .cart ul li{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}
.cartIndex .cart ul li:first-child{
    border-top: 1px solid gray;
}
.cartIndex .cart ul li div{
    padding-right: 15px;
}
.cartIndex .cart ul li .img{
    width: 30%;
}
.cartIndex .cart ul li .img img{
    width: 100%;
    background-size: cover;
}
.cartIndex .cart ul li .name{
    width: 50%;
}
.cartIndex .cart ul li .name span{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 40%;
    border: 1px solid gray;
    border-radius: 12px;
}
.cartIndex .cart ul li .name span p{
    color: red;
}
.cartIndex .cart ul li .price{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cartIndex .cart ul li .price p{
    padding-bottom: 5px;
}
.cartIndex .cart ul li .price .priceOne{
    color: gray;
}
.cartIndex .cart ul li .price .delete{
    color: #ED213A;
    padding-top: 6px;
}
/* add food */
.cartIndex .cart .addFood{
    display: flex;
    justify-content: flex-end;
    color: #4e54c8;
    padding-top: 10px;
}
.cartIndex .cart .addFood a{
    text-decoration: none;
}
/* Note */
.cartIndex .cart .note,form{
    padding-top: 16px;
}
.cartIndex .cart form textarea{
    width: 100%;
    padding: 3px;
}
.cartIndex .cart .total{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    color: gray;
}
.cartIndex .cart .total .totalPrice{
    padding-left: 76px;
    color: #ED213A;
}
/* btnSubmit */
.cartIndex .cart .btnSubmit{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.cartIndex .cart .btnSubmit a{
    font-size: 18px;
    color: white;
    background-color: #ED213A;
    border: none;
    padding: 8px 14px;
    text-decoration: none;
}
/* footer */
.footer {
    margin-top: 50px;
    display: flex;
    padding: 35px 30px 20px;
    background-color: #333333;
    color:#dddddd;
  }
  
  .footer-item-left, .footer-item-right {
    width: 50%;
  }
  
  .footer-item-left {
    margin-right: 40px;
  }
/* header */
/*header{
    height: 7vh;
    width: 100%;
    display: flex;
}
header section{
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .home i{
    font-size: 24px;
    color: black;
}
header .home a{
    color: red;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;

}
header .name p{
    font-weight: 900;
    font-size: 24px;
}
header .cart i{
    font-size: 30px;
    color: red;
    position: absolute;
}
header .cart .totalHeader{
    padding-left: 10px;
    font-size: 18px;
    color: red;
}
header .cart .number{
    width: 40px;
    height: 40px;
    position: relative;
}
header .cart .circle{
    position: absolute;
    color: white;
    left: 15px;
    font-size: 18px;
    font-weight: 900;
    
}
/* Location */
/*.location{
    display: flex;
    height: 7vh;
    position: sticky;
    top: 0;
    background-color: white;
}
.location div{
    flex: 50%;
    display: flex;
    padding: 8px;
}
.location .ship{
    flex-direction: column;
    justify-content: center;
}
.location .change{
    flex-direction: row-reverse;
    align-items: center;
    font-weight: bolder;
}
.location .change a{
    text-decoration: none;
    color: black;
}
.location .city{
    font-weight: 900;
}
.locationHr{
    width: 98%;
    margin: auto;
}
/* Pay */
/*.pay{
    padding: 11px;
}
.pay .header{
    background-color: red;
    color: white;
    height: 6vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.pay .listOrder{
    padding: 0 12px;
    padding-top: 50px;
}
.pay .listOrder .listOrderName{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.pay .listOrder .listOrderName p{
    font-size: 30px;
}
.pay .listOrder .listOrderPrice{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.pay .listOrder .listOrderPrice div{
    display: flex;
    font-weight: bolder;
    font-size: 18px;
}
.pay .listOrder .listOrderPrice p{
    padding: 0 5px;
}
.pay form{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.pay form textarea{
    width: 90%;
    height: 9vh;
    font-size: 18px;
    padding: 5px;
}
.pay .sale{
    padding: 0 12px;
}
.pay .sale form input{
    width: 65%;
    height: 5vh;
    padding-left: 12px;
}
.pay .sale form button{
    width: 25%;
    height: 5vh;
    margin-left: 2%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
}
.pay .total hr{
    border: 1px solid black;
}
.pay .total{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-size: 18px;
}
/* Bar */
/*.bottomBar{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: white;
}
.bottomBar div{
    flex: 50%;
    border: 1px solid black;
    margin: 7px;
    border-radius: 7px;
    padding: 8px;
    text-align: center;
}
.bottomBar .red{
    background-color: red;
    color: white;
}
/* footer */
/*footer{
    padding-top: 35px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 26px;
}

